@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
  Common Styling
========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1500px;
  width: 79%;
  margin: 0 auto;
}

.container { width: 100%; }
.fas { padding-right: 5px; }
body { font-family: Arial; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.capitalize { text-transform: capitalize; }
.inline-block { display: inline-block; }

a { 
  color: white;
  display: inline-block;
  text-decoration: none;
}

/* ==========================================================================
  Header
========================================================================== */
header { 
  width: 100%;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #e28822; 
}

header .wrapper { width: 86%; }

header h1 { 
  padding: 16px 0;
  font-size: 35px; 
}

header h1 img { width: 80px; }
nav a { font-size: 13px; }
.nav-btn { display: none; }

nav {
  width: calc(100% - 25vw); 
  display: inline-block;
  text-align: right;  
  vertical-align: middle;
  float: right; 
}

.navlist-top { width: 100%; }
.navlist-top li:last-child { margin-right: 1%; }

.navlist-bottom { 
  width: 100%;
  margin-top: 35px; 
  float: right;
}   

.navlist-top li:not(:last-child) { margin-right: 2%; }
.navlist-bottom li:not(:last-child) { margin: 0 1%; }
.navlist-bottom li:last-child { margin-left: 1%; }
.navlist-bottom li { position: relative; }
.navlist-bottom li:first-child:before { content: none; }
nav a { position: relative; }

.navlist-bottom li:before {
  content: " ";
  width: 1px;
  height: 15px;
  border-right: 1px solid white;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 1;
  transform: translateX(-12px);
}

.navlist-top li a:after {
  content: '';
  width: 100%;
  height: 1em;
  margin-top: 5px;
  border-bottom: 1px solid;
  display: inline-block;
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.navlist-top li a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.navlist-bottom li a:after {
  content: '';
  width: 100%;
  height: 1em;
  margin-top: 5px;
  border-bottom: 1px solid;
  display: inline-block;
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.navlist-bottom li a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* ==========================================================================
  Main
========================================================================== */

/*banner started here*/
.banner {
  margin-top: 6%;
  padding: 20% 0;
  position: relative;
  background: url("../images/WorkingHereDesktop_2005x800.jpg") no-repeat;
  background-size: cover;
}

.banner span { 
  width: 5%;
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
}
/*banner css endd here*/

/*description started here*/
.description { 
  width: 100%; 
  display: inline-block;
  position: relative;
}

.description .success { 
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: calc(50% - 12.5vw);
  left: calc(50% - 12.5vw);
  background-color: #f2942f;
  transform: rotate(45deg);
}

.description .success span { 
  display: inline-block;
  position: absolute;
  top: 38%;
  left: -7%;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  transform: rotate(-45deg);
}

.description .success:after {
  content: " ";
  width: 3px;
  height: 20px;
  position: absolute;
  left: 65%;
  bottom: 32%;
  background-color: white;
  transform: rotate(-45deg);
}

.description .success:before {
  content: " ";
  width: 3px;
  height: 20px;
  position: absolute;
  left: 65%;
  bottom: 32%;
  background-color: white;
  transform: rotate(45deg);
}

.articles-list li { 
  width: 50%;
  padding: 14% 10%;
  margin: 0;
  display: inline-block;
  float: left;  
}

.articles-list li:nth-child(2),
.articles-list li:nth-child(3) { background-color: #1f2f4e; }

.articles-list li:nth-child(2) h4,
.articles-list li:nth-child(3) h4 { color: white; }

.articles-list li:nth-child(2) p,
.articles-list li:nth-child(3) p { color: white; }

.articles-list h4 {
  padding: 5% 0;
  font-size: 30px;
  color: #363636;
}

.articles-list p {
  color: #363636;
  font-size: 18px;
  line-height: 1.5;
}
/*description ends here*/

/*job quote starts here*/
.job-quote { 
  width: 100%;
  padding: 10% 0;
  text-align: center; 
}

.job-quote .wrapper { width: 50%; }

.job-quote h4 {
  position: relative; 
  color: #1f2f4e;
  font-size: 30px;
} 

.job-quote h4:after {
  content: " ";
  width: 10%;
  height: 5vw;
  position: absolute;
  top: -30%;
  left: -10%;
  background-image: url("../images/left-quote.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.job-quote h4 span:first-child {
  color: #f2942f;
  font-size: 30px;
}

.about { margin-top: 4%; } 
.about div { color: #413b36; }
.about div:nth-child(2) { margin-top: 1%; }
/*job quote ends here*/

/*benefit starts here*/
.benefit { 
  width: 100%;
  padding-top: 1px;
  position: relative;
}

.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(24, 38, 62, .9);
}

.overlay img { width: 100%; }

.overlay:after {
  content:'';
  width:100%; 
  height:100%;
  display:inline-block;
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(24, 38, 62, .9);
}

.benefit h5 { 
  position: absolute;
  top: 8%;
  left: 50%;
  z-index: 1;
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%); 
}

.benefit p {
  width: 55%;
  margin: 0 auto;
  padding-top: 0;
  position: absolute;
  top: 13%;
  left: 50%;
  z-index: 1;
  color: white;
  font-size: 16px;
  text-align: center;
  transform: translateX(-50%);
}

.benefit-list {
  width: 100%;
  margin-top: 30%;
  display: flex;
  flex-wrap: wrap;
}

.benefit-list > li {
  width: 50%;
  padding-top: 1%; 
  padding-bottom: 5%;
  position: relative;
  float: left;
  list-style: none;
}


.benefit-list > li:last-child { padding: 0;  }
.benefit-list > li:last-child img {
  width: 100%;
  height: 100%;
}

.inside-list {
  width: 80%; 
  margin: 0 auto;
}

.inside-list > li { 
  width: 100%;
  height: 100%;
  padding: 5px 1%;
  color: white;
  font-size: 14px;
  list-style-type: disc;
  line-height: 1.4; 
}

.benefit-list > li:nth-child(2),
.benefit-list > li:nth-child(3) { background-color: #1f2f4e; } 
.benefit-list > li:nth-child(1),
.benefit-list > li:nth-child(4),
.benefit-list > li:nth-child(5)  { background-color: #f2942f; }

.benefit-list h6 { 
  padding: 3% 0;
  color: white;
  font-size: 30px;
  text-align: center; 
} 
/*benefit ends here*/

/*faq starts here*/
.faq { 
  width: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #f5f5f5;
  text-align: center;
}

.faq h5 {
  color: #243a62;
  font-size: 30px;
}

.faq h5 + span {
  display: inline-block;
  padding: 2% 0;
  color: #5b504b;
  font-size: 18px; 
}

.faq-list {
  width: 75%;
  margin: 0 auto;
  padding: 3% 0;
}

.faq-list li { 
  padding: 0 30px;
  position: relative;
  color: #243a62;
  font-size: 18px; 
  list-style: none; 
  text-align: left;
}

.faq-list li span { 
  display: inline-block;
  line-height: 2.5; 
  transition: all .8s;
}

.faq-list li span:hover { cursor: pointer; }
.plus:before {
  content: "";
  width: 4px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #ea901f;
  transition: all .8s;
}

.plus:after {
  content: "";
  width: 4px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #ea901f;
  transition: all .8s;
  transform: rotate(90deg);
}

.cross:before { 
  content: "";
  width: 4px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #ea901f;
  transition: all .8s;
  transform: rotate(45deg);
}

.cross:before { 
  content: "";
  width: 4px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #ea901f;
  transition: all .8s;
  transform: rotate(-45deg);
}

.cross:after { 
  content: "";
  width: 4px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #ea901f;
  transition: all .8s;
  transform: rotate(45deg);
}

.faq-list p { display: none; }
/*faq ends here*/

/*inside succsess starts here*/
.inside-success { 
  width: 100%;
  padding: 5% 0;
  text-align: center; 
}

.inside-success .wrapper > img {
  width: 45px;
  padding: 2% 0;
}

.inside-success h5 {
  color: #1f2f4e;
  font-size: 32px;
}

.inside-success a {
  padding: 20px 4.5%; 
  margin: 3% 0;
  border-radius: 3px;
  background-color: #ea901f;
  font-size: 17px;
  letter-spacing: 2px;
  transition: all .8s;
}

.inside-success a:hover { background-color: #000; }
.images-list{
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}

.images-list li {
  display: inline-block;
  flex-basis: 31.3%;
  vertical-align: top;
}

.images-list li:nth-child(2) { margin: 0 3%; }
.images-list img {
  width: 100%;
  height: 100%;
}
/*inside succsess ends here*/

/*teacher section starts here*/
.teachers { 
  width: 100%;
  padding: 5% 0; 
  position: relative;
  background-color: #f5f5f5;
}

.teachers-list { text-align: center; }
.teachers-list li {
  width: 23%;
  padding: 130px 12%;
  display: inline-block;
  position: relative;
  background-color: #efeff0;
  text-align: center;
  vertical-align: top;
}

.teachers-list li:nth-child(2) { margin: 0 2%; }

.teachers-list h5 {
  width: 65%;
  position: absolute;
  top: 20%;
  left: 50%;
  color: #11294c;
  font-size: 18px;
  transform: translateX(-50%);
}

.teachers-list span { 
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  color: #858585;
  display: inline-block;
}

.teachers-list a {
  padding: 8px 10px; 
  position: absolute;
  top: 75%;    
  left: 50%;
  background-color: #ea901f;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  transform: translateX(-50%);
  transition: all .8s;
}
.teachers-list a:hover { background-color: #000; }
.teachers .wrapper { width: 90%; }
.left-arrow {
  width: 30px;
  position: absolute;
  left: 12%;
  top: 50%;
  border-radius: 50%;
  box-shadow: 1px 4px 5px 0px #888;
  font-size: 24px;
  text-align: center;
  transform: translateY(-50%);
  z-index: 1;
} 

.right-arrow {
  width: 30px;
  position: absolute;
  right: 12%;
  top: 50%;
  border-radius: 50%;
  box-shadow: 1px 4px 5px 0px #888;
  font-size: 24px;
  text-align: center;
  transform: translateY(-50%);
  z-index: 1; 
}
/*teacher section endss here*/

/*info section starts here */
.info { 
  width: 100%;
  padding: 5% 0; 
  background-color: #12294d; 
}
.info .wrapper { width: 85%; }

.info-content { 
  width: 100%;
  margin: 0 auto;
  display: inline-block; 
  color: white;
}

.info-content li { 
  width: 35%;
  margin: 0 7%;
  display: inline-block;
  float: left;
  list-style: none; 
}

.info-content h5 {
  padding: 10px 0; 
  font-size: 30px; 
}

.info-content p {
  width: 90%;
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.5;
}

.email-form { 
  width: 100%;
  margin: 10px 0;
  display: inline-block; 
}

.email-form input {
  width: 65%; 
  padding: 12px 15px; 
  border: none;
  float: left;
  border-radius: 5px 0 0 5px;
}

.email-form button {
  height: 100%;
  padding: 12px 6.5%;
  border: none;
  color: white;
  background-color: #f29224;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  float: left;
}

.info-content li a {
  padding: 12px 16%;
  margin: 10px 0;
  background-color: #f29224;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: all .5s;
}

.info-content li a:hover { background-color: #000;  }
/*info section ends here */

/* ==========================================================================
  Footer
========================================================================== */
footer { 
  width: 100%; 
  padding: 5% 0;
  color: #7a7b7f;
}
footer h6 img { width: 80px; }

footer .wrapper { 
  width: 86%; 
  padding: 5% 0;
  border-top: 2px solid #f29224;
}

footer a { 
  color: #7a7b7f;
  transition: all .5s; 
}

footer .wrapper > h6 { 
  vertical-align: top; 
  float: left;
}

.footer-info { 
  width: 70%;
  display: flex;
  float: right;
  text-align: right;
}

.footer-info > li {
  width: 30%;
  padding: 0 5%;
  position: relative;
  flex: 1;
  font-size: 13px;
  text-align: left; 
  list-style: none;
  vertical-align: top;
}

.footer-info > li:not(:first-child):before {
  content: " ";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f29224;
}

.footer-info h6 { 
  margin-bottom: 10%;
  color: #f29224; 
  line-height: 1.5;
}

.footer-info li:first-child span{ display: block; }
.links-list { list-style: none; }
.social a { font-size: 15px; }
.social li { margin: 0 3%; }

.social {
  width: 100%;
  margin: 8% 0; 
  text-align: center;
}

.address { padding-bottom: 6%; }
.links-list li { padding: 1% 0; }
.phone-no a:hover,
.links-list a:hover,
.social a:hover { color: black; }

/*media query starts here*/

@media screen and (max-width: 917px) {
  .description .success { top: calc(50% - 10.4vw); }
}

@media screen and (max-width: 1091px) {
  .description .success { top: calc(50% - 15.4vw); }
}

@media screen and (max-width: 1095px) {
  nav { width: calc(100% - 15vw); }
  header h1 a { font-size: 20px; }
  header h1 img  { width: 60px; }
  .social li { margin: 0 2%; }
}

@media screen and (max-width: 955px) { 
  nav { display: none; }
  .nav-btn {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 26px;
    right: 4%;
    z-index: 6;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    transition: all .8s;
  }

  .nav-btn span {
    width: 25px;
    height: 3px;
    margin-left: 14px;
    display: block;
    background: #fff;
    border-radius: 3px;
    transition: all .8s;  
  }

  .nav-btn span:nth-child(1) { 
    transform: translateY(0) rotate(0deg);
    margin-top: 16px; 
  }
  
  .nav-btn span:nth-child(3) { 
    margin-top: 4px;
    transform: translateY(0) rotate(0deg); 
  }
  
  .nav-btn span:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .navdiv {
    width: 100%;
    padding: 26vh 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    animation-name: menu;
    animation-duration: 1s;
    animation-fill-mode: both;
    background: rgba(226,136,34,1);
    overflow-y: hidden;
  }

  .scroll-lock { overflow: hidden; }
  .navlist-top { text-align: center; }
  
  .navclose .navlist-top li,
  .navdiv .navlist-top li { 
    margin: 0;
    display: block; 
  }

  .navlist-bottom { 
    margin: 0;
    text-align: center; 
  }
  
  .navclose .navlist-bottom li,
  .navdiv .navlist-bottom li { 
    margin: 0;
    display: block; 
  }

  .navlist-bottom li:before,
  .navlist-bottom li a:after,
  .navlist-top li a:after { 
    content: none; 
    width: 0;
    height: 0;
  }
  
  .navclose ul li,  
  .navdiv ul li { padding: 5px 0; }
  .btncross { transform: rotate(45deg); }
  .btncross span:nth-child(1) { transform: translateY(6px) rotate(180deg); }
  .btncross span:nth-child(2) { opacity: 0; }
  .btncross span:nth-child(3) { transform: translateY(-8px) rotate(90deg); }
  .btncross span {
    background: #fff;
    transition: transform 0.5s ease;
  }


  @keyframes menu {
    from { 
      opacity: 0; 
      transform: translate(0,-100%);
    }
    to { 
      opacity: 1;
      transform: translate(0,0);
    }
  }

  .navclose {
    width: 100%;
    padding: 26vh 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    animation-name: menuclose;
    animation-duration: 1s;
    animation-fill-mode: both;
    background: rgba(226,136,34,1);
  }

  @keyframes menuclose {
    from { 
      opacity: 1; 
      transform: translate(0,0);
    }
    to { 
      opacity: 0.8;
      transform: translate(0,-100%);
    }
  }
  
  .description .success { top: calc(50% - 12.3vw); }
  .benefit h5 { top: 5%; }
  .benefit p { top: 10%; }
  .footer-info { width: 86%; }
  .benefit-list h6 { font-size: 24px; }
  .inside-list > li { font-size: 14px; }

  .faq-list li span { 
    line-height: 1.5;
    padding: 10px 0; 
  }
  .teachers .wrapper > span { display: none; }
  .teachers-list li { width: 60%; }
  .teachers-list li:nth-child(2) { margin: 20px 0; }
  .teachers-list h5 { font-size: 24px; }
}

@media screen and (max-width: 768px) {
  /*header starts here*/
  nav { display: none; }
  header .wrapper { width: 90%; }
  header h1 { padding: 18px 0; }
  header h1 span { display: none; }
  .nav-btn { top: 20px; }
  /*header ends here*/

  /*banner starts here*/
  .banner {
    margin-top: 13vw;
    background: url("../images/WorkingHereMobile_786x506-1.jpg") no-repeat;
    background-size: 100% 100%;
  }
  /*banner ends here*/
  
  /*description starts here*/

  .description .success {
    width: 30vw;
    height: 30vw;
    display: inline-block;
    position: relative;
    transform: rotate(45deg) translate(12%, 22%);
  }
  
  .description .success {
    top: 36%;
    left: 36%;
    font-size: 3.2vw; 
  }

 .articles-list li {
    width: 100%;
    display: block;
  }

  .articles-list li:nth-child(odd) { background-color: white; }
  .articles-list li:nth-child(even) { background-color: #1f2f4e; }
  .articles-list li:nth-child(3) h4 { color: #363636; }
  .articles-list li:nth-child(3) p { color: #363636; }
  .articles-list li:nth-child(4) h4 { color: white; }
  .articles-list li:nth-child(4) p { color: white; }
  
  .job-quote h4:after {
    top: -10px;
    left: -9%;
  } 

  .job-quote .wrapper { width: 60%; }
  /*description ends here*/

  /*benefits starts here*/
  .overlay img { height: 50vw; }
  .benefit-list { margin-top: 50%; }
  
  .benefit-list > li { 
    width: 100%;
    display: block;
  }
  
  .benefit .wrapper { width: 90%; }
  .benefit-list > li:last-child { padding: 0; }
  .benefit-list > li:last-child img { height: 40vw; }
  .benefit h5 { top: 10vw; }
  
  .benefit p {
    width: 80%;
    top: 20vw; 
  }

  .benefit-list > li:nth-child(even) { background-color: #1f2f4e; }
  .benefit-list > li:nth-child(odd) { background-color: #f2942f; }
  /*benefits endss here*/

  /*faq starts here*/
  .faq .wrapper { width: 90%; }
  .inside-success a { font-size: 12px; }
  .images-list li:nth-child(2) { margin: 0; }

  .images-list li {
    width: 100%;
    display: block;
    flex-basis: auto;
  }
  /*faq ends here*/
  
  /*inside success starts here*/
  .inside-success a { 
    padding: 15px 4.5%; 
    margin: 25px 0;
  }
  /*inside success ends here*/

  /*teachers starts here*/
  .teachers-list li {
    width: 100%;
    padding: 50% 0;
    display: block;
  }
  .teachers-list { padding: 0 10%; }
  .teachers-list h5 { 
    width: 80%;
    font-size: 20px; 
  }
  /*teacher ends here*/

  /*info starts here*/
  .info-content li {
    width: 100%;
    margin: 0;
    padding: 0 8%;
    display: block;
  }
  .email-form input { width: 45%; }

  /*info ends here*/
  
  /*footer starts here*/
  footer .wrapper { padding: 0;  }
  footer .wrapper > h6 { display: none; }
  
  .footer-info { 
    width: 100%;
    display: inline-block; 
  }

  .footer-info > li { 
    width: 100%;
    padding: 5%;
    display: block; 
    text-align: center;
  }

  .footer-info > li:not(:first-child):before {
    content: " ";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f29224;
  }

  .footer-info h6 { margin-bottom: 25px; }
  .address { padding-bottom: 10px; }
  .social li a { font-size: 24px; }
  .phone-no a:hover, 
  .links-list a:hover, 
  .social a:hover { color: #7a7b7f; }
  .teachers-list a:hover,
  .info-content li a:hover, 
  .inside-success a:hover { background-color: #ea901f; }
  .faq-list li span { 
    padding: 12px 0;
    line-height: 1.2; 
  }
  /*footer ends here*/
}
/*media query endss here*/